<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ru.batuevdm.fooddelivery">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".base.MainApplication"
        android:icon="@drawable/favicon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning"
        tools:targetApi="m"
        android:allowBackup="false">
        <activity
            android:name="ru.batuevdm.fooddelivery.activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ru.batuevdm.fooddelivery.activities.ProductActivity"
            android:theme="@style/Theme.Swipe.Back.NoActionBar" />
        <activity
            android:name="ru.batuevdm.fooddelivery.activities.PhotoBigActivity"
            android:theme="@style/Theme.Swipe.Back.NoActionBar" />
        <activity
            android:name="ru.batuevdm.fooddelivery.activities.InformationActivity"
            android:theme="@style/Theme.Swipe.Back.NoActionBar" />
        <activity
            android:name="ru.batuevdm.fooddelivery.activities.SecretActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="ru.batuevdm.fooddelivery.activities.CategoriesActivity"
            android:theme="@style/Theme.Swipe.Back.NoActionBar" />
        <activity android:name="ru.batuevdm.fooddelivery.activities.SearchActivity" />
        <activity
            android:name="ru.batuevdm.fooddelivery.activities.CartActivity"
            android:theme="@style/Theme.Swipe.Back.NoActionBar" />
        <activity
            android:name="ru.batuevdm.fooddelivery.activities.OrderActivity"
            android:theme="@style/Theme.Swipe.Back.NoActionBar" />
    </application>

</manifest>